{% extends "layout.html" %}

{% block content %}
<div class = 'container-fluid '>
<div class = 'mx-5'>
    <form method="POST" action="/post/manga">
        {{form.hidden_tag()}}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4"> READ ME </legend>
            <p> Go to <a href = "https://m.manganelo.com/read" target = "_blank">manganelo.com</a> and click on any manga. Grab that manga's url and enter it on this site input bar. <br>
                my site scraps infomation such as the title and chapters and inputs it into my own db.
            </p>
            <div class = form-group>
                {{ form.url.label(class = 'form-control-label')}}
                
                {% if form.url.errors %}
                    {{form.url(class = "form-control form-control-lg is-invalid")}}
                    <div class = 'invalid-feedback'>
                        {% for error in form.url.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.url(class = 'form-control form-control-lg')}}
                {% endif %}
            </div>
            
        </fieldset>
        <div class = 'form-group'>
            {{ form.submit(class = 'btn btn-outlint-info', onclick = "toggle_display()")}}
        </div>
    </form>

    <div>
    
    {% for x in info %}
        
        <a href = "{{ url_for('manga',  manga_title = x) }}"> <h1>  {{ x }}  </h1></a>
    
    {% endfor %}
    </div>
</div>



<script>
function toggle_display(){
    document.querySelector(".hidden").style.display = "block";
}
</script>
<div class="hidden">
    <h1> {{ manga_title }}</h1>
    <h1> {{ manga_chapter }}</h1>

{% endblock %}