{% extends "layout.html" %}

{% block content %}


<h1>{{title}}</h1>



<!-- <iframe onload="loadImage()">p</iframe> -->
<script>
    function toggle_display(){
        document.querySelector(".hidden").style.display = "block";
    }
    </script>

<ul class = "shown d-flex flex-column flex-wrap">

    {% for caption, href in info %}
    
    <li><a onclick = "toggle_display()" rel = "import" href=" {{ href }} " target="iframe_display">{{ caption }}</a></li>
    
    {% endfor %}
 </ul> 
 
 <!-- <script>
     function toggle_display(){
         document.querySelector(".shown").style.display = "none";
         document.querySelector(".hidden").style.display = "block";
     }
 </script> -->

{% endblock %}